<div class="menu-page app-content">

  <ng-container *ngFor="let d of daysCount">
    <mat-card class="akam-menu-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>01 Dec</mat-card-title>
      <mat-card-subtitle>Friday</mat-card-subtitle> -->
        <div class="date-header">
          <span class="date">{{dayDetails[d]['date']}}</span>
          <span class="day">{{dayDetails[d]['day']}}</span>
        </div>
        <!-- <mat-card-title>04 Dec</mat-card-title>
      <mat-card-subtitle>Monday</mat-card-subtitle> -->

      </mat-card-header>

      <mat-tab-group (selectChange)="changeMenu($event)">
        <mat-tab label="Menu 1">
          <div>
            <div id="myCarousel{{d}}" data-interval="false" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <ng-container *ngFor="let im of getMenu(d,1); let i = index;">
                  <li *ngIf="i==0" [attr.data-target]="'#myCarousel' + d" data-slide-to="{i}" class="active"></li>
                  <li *ngIf="i!=0" [attr.data-target]="'#myCarousel' + d" data-slide-to="{i}"></li>
                </ng-container>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <ng-container *ngFor="let im of getMenu(d,1); let i = index">

                  <div *ngIf="i==0" class="item active">
                    <img src="{{im}}" class="carousel-img">
                  </div>

                  <div *ngIf="i!=0" class="item">
                    <img src="{{im}}" class="carousel-img">
                  </div>
                </ng-container>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" [attr.href]="'#myCarousel' + d" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" [attr.href]="'#myCarousel' + d" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <mat-card-content>
              <!-- <p style="margin-top: 10px;">
                  <i class="material-icons">favorite</i>
                  <i class="material-icons">thumb_up</i>
                </p> -->
              <p class= "menu-desc" style="margin-top: 10px;">
                {{getDescription(d,1)}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>
                  <i class="material-icons">thumb_up</i>
                </button>
                <button mat-button>REGISTER</button> -->
              <span class="action-item-span">
                <span>{{getLikes(d,1)}}</span>
                <button [disabled]="!canLike(d)"  mat-icon-button (click)="like(d,1)" color="warn">
                  <mat-icon aria-label="favorite button">favorite</mat-icon>
                </button>

              </span>

              <span class="action-item-span">
                <span>{{getDisLikes(d,1)}}</span>
                <button [disabled]="!canLike(d)" mat-icon-button (click)="disLike(d,1)" color="warn">
                  <mat-icon aria-label="dislike button">thumb_down</mat-icon>
                </button>
              </span>

              <span class="action-item-span">
                <span>134</span>
                <button mat-icon-button color="warn">
                  <mat-icon aria-label="register button">input</mat-icon>
                </button>
              </span>

            </mat-card-actions>
          </div>

        </mat-tab>
        <mat-tab label="Menu 2">

          <div>
            <div id="myCarousel{{d}}" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <ng-container *ngFor="let im of getMenu(d,2); let i = index">
                  <li *ngIf="i==0" [attr.data-target]="'#myCarousel' + d" data-slide-to="{i}" class="active"></li>
                  <li *ngIf="i!=0" [attr.data-target]="'#myCarousel' + d" data-slide-to="{i}"></li>
                </ng-container>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <ng-container *ngFor="let im of getMenu(d,2); let i = index">

                  <div *ngIf="i==0" class="item active">
                    <img src="{{im}}" class="carousel-img">
                  </div>

                  <div *ngIf="i!=0" class="item">
                    <img src="{{im}}" class="carousel-img">
                  </div>
                </ng-container>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" [attr.href]="'#myCarousel' + d" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" [attr.href]="'#myCarousel' + d" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <mat-card-content>
              <!-- <p style="margin-top: 10px;">
                      <i class="material-icons">favorite</i>
                      <i class="material-icons">thumb_up</i>
                    </p> -->
              <p class= "menu-desc" style="margin-top: 10px;">
                {{getDescription(d,2)}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button>
                      <i class="material-icons">thumb_up</i>
                    </button>
                    <button mat-button>REGISTER</button> -->
              <span class="action-item-span">
                <span>{{getLikes(d,2)}}</span>
                <button [disabled]="!canLike(d)" mat-icon-button (click)="like(d,2)" color="warn">
                  <mat-icon aria-label="favorite button">favorite</mat-icon>
                </button>
              </span>

              <span class="action-item-span">
                <span>{{getDisLikes(d,2)}}</span>
                <button [disabled]="!canLike(d)" mat-icon-button (click)="disLike(d,2)" color="warn">
                  <mat-icon aria-label="dislike button">thumb_down</mat-icon>
                </button>
              </span>

              <span class="action-item-span">
                <span>134</span>
                <button mat-icon-button color="warn">
                  <mat-icon aria-label="register button">input</mat-icon>
                </button>
              </span>

            </mat-card-actions>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->



    </mat-card>
  </ng-container>

</div>
