<mat-card class="akam-menu-card">

  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>01 Dec</mat-card-title>
    <mat-card-subtitle>Friday</mat-card-subtitle> -->

    <mat-tab-group (selectChange)="changeDay($event)">
      <mat-tab  label="4 Dec Monday" ></mat-tab>
      <mat-tab  label="5 Dec Tuesday" ></mat-tab>
      <mat-tab  label="6 Dec Wednesday" ></mat-tab>
      <mat-tab  label="7 Dec Thursday" ></mat-tab>
      <mat-tab  label="8 Dec Friday" ></mat-tab>
    </mat-tab-group>




    <!-- <mat-card-title>04 Dec</mat-card-title>
    <mat-card-subtitle>Monday</mat-card-subtitle> -->

  </mat-card-header>
  <div style="width:50%;float:left; padding:5px">
    <span>Menu 1</span>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" >
       <ng-container *ngFor="let im of getMenu(1); let i = index">
      <li *ngIf= "i==0" data-target="#myCarousel" data-slide-to="{i}" class="active"></li>
      <li *ngIf= "i>0" data-target="#myCarousel" data-slide-to="{i}"></li>
      </ng-container>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" >
      <ng-container *ngFor="let im of getMenu(1); let i = index">
      <div   *ngIf="i==0" class="item active" style="height: 28em;width: 49em;" >
        <img  src="{{im}}"  style="width:100%;">
      </div>
      <div   *ngIf="i!=0" class="item" style="height: 28em;width: 49em;" >
        <img  src="{{im}}"  style="width:100%;">
      </div>
      </ng-container>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel"   data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel"  data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <mat-card-content>
    <!-- <p style="margin-top: 10px;">
      <i class="material-icons">favorite</i>
      <i class="material-icons">thumb_up</i>
    </p> -->
    <p style="margin-top: 10px;">
      Some Brief Description about the menu.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>
      <i class="material-icons">thumb_up</i>
    </button>
    <button mat-button>REGISTER</button> -->
    <span class="action-item-span">
      <span>{{getLikes(1)}}</span>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="favorite button" (click)="like(1)">favorite</mat-icon>
      </button>
    </span>

    <span class="action-item-span">
      <span>{{getDislikes(1)}}</span>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="dislike button" (click)="disLike(1)">thumb_down</mat-icon>
      </button>
    </span>

    <span class="action-item-span">
      <span>{{getDislikes(1)}}</span>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="register button">input</mat-icon>
      </button>
    </span>

  </mat-card-actions>
</div>

<div style="width:50%;float:left; padding:5px">
  <span>Menu 2</span>

<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
     <ng-container *ngFor="let im of getMenu(2); let i = index">
    <li *ngIf= "i==0" data-target="#myCarousel" data-slide-to="{i}" class="active"></li>
    <li *ngIf= "i>0" data-target="#myCarousel" data-slide-to="{i}"></li>
    </ng-container>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <ng-container *ngFor="let im of getMenu(2); let i = index">
    <div   *ngIf="i==0" class="item active" style="height: 28em;width: 49em;" >
      <img  src="{{im}}"  style="width:100%;">
    </div>
    <div   *ngIf="i!=0" class="item" style="height: 28em;width: 49em;" >
      <img  src="{{im}}"  style="width:100%;">
    </div>
    </ng-container>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" (click)="changeMenu()"  data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" (click)="changeMenu()"  data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<mat-card-content>
  <!-- <p style="margin-top: 10px;">
    <i class="material-icons">favorite</i>
    <i class="material-icons">thumb_up</i>
  </p> -->
  <p style="margin-top: 10px;">
    Some Brief Description about the menu.
  </p>
</mat-card-content>
<mat-card-actions>
  <!-- <button mat-button>
    <i class="material-icons">thumb_up</i>
  </button>
  <button mat-button>REGISTER</button> -->
  <span class="action-item-span">
    <span>{{getLikes(2)}}</span>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="favorite button" (click)="like(2)">favorite</mat-icon>
    </button>
  </span>

  <span class="action-item-span">
    <span>{{getDislikes(2)}}</span>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="dislike button" (click)="disLike(2)">thumb_down</mat-icon>
    </button>
  </span>

  <span class="action-item-span">
    <span>{{getDislikes(2)}}</span>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="register button">input</mat-icon>
    </button>
  </span>

</mat-card-actions>
</div>
</mat-card>
