.menu-it-list{
  border-collapse: collapse;
    width: 100%;
    font-size:12px;
}

.menu-it-list td, .menu-it-list th {
    border: 1px solid #ddd;
    padding: 4px;
}

.menu-it-list tr:nth-child(even){background-color: #f2f2f2;}

.menu-it-list tr:hover {background-color: #ddd;}

.menu-it-list th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #68a569;
    color: white;
    width: 50%;
}
div.item-type{
  font-weight:bold;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
}
