#roster {
    margin: auto;
    width: 85%;
    margin-top: 20px;

}

#roster button {
    align-content: center;
    margin-top: 15px;
    margin-right: 25px;
    float: right;
    background: #63c364;
    color: white;
}

#roster button mat-icon {
    margin-left: 5px;
}
