nav {
    background: #181618;
    margin-bottom: 20px;
    padding: 0 50px;
}


nav a {
    color: white;
    text-decoration: none;
    min-width: 110px;
    opacity: 0.9;
    float: right;
    font-weight: normal;
    letter-spacing: 1px;
}

nav a > .mat-icon {
    padding-left: 6px;
    font-size: 18px;
    padding-top: 3px;
    opacity: 1;
    color: #ecd797
}

nav > div, nav > div > div {
    display: inline-block;
}

::ng-deep .success-color.mat-snack-bar-container {
    background: #049616 !important;
}

.app-heading {
    display: inline-block;
    height: 48px;
    padding: 7px 30px;
    color: white;
    letter-spacing: 5px;
}    


.app-heading img {
    vertical-align: middle;
    width: 44px;
    margin-right: 12px;
}