nav {
    background: #090102;
    margin-bottom: 20px;
    padding: 0 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}


nav a {
    color: white;
    text-decoration: none;
    min-width: 110px;
    opacity: 0.9;
    float: right;
    font-weight: normal;
    letter-spacing: 0.3px;
}

nav a > .mat-icon {
    padding-left: 6px;
    font-size: 18px;
    padding-top: 3px;
    opacity: 1;
    color: #ecd797
}

nav > div, nav > div > div {
    display: inline-block;
}

::ng-deep .success-color.mat-snack-bar-container {
    background: #049616 !important;
}

.app-heading {
    display: inline-block;
    height: 48px;
    padding: 7px 30px;
    color: white;
    letter-spacing: 5px;
}    


.app-heading img {
    vertical-align: middle;
    width: 44px;
    margin-right: 12px;
    -webkit-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition:all 800ms  cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
}

.app-heading img:hover {
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    cursor: pointer;
    -webkit-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition:all 800ms  cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 800ms cubic-bezier(0.42, 0, 0.58, 1);
  }

.app-content {
    padding-top: 50px;
}