<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->
<nav mat-tab-nav-bar>
  <div class="app-heading">
    <span>
      <img alt="angular" src="https://files.slack.com/files-pri/T5M4TS6R4-F877ZLXB7/imageedit_66_4550153698.png">
    </span> BAKASURA </div>

  <a mat-tab-link routerLink="/overall-data">Overall Data
    <mat-icon aria-label="Overall Data">insert_chart</mat-icon>
  </a>
  <a mat-tab-link routerLink="/user-data">User Data
    <mat-icon aria-label="User Data">account_circle</mat-icon>
  </a>
  <a mat-tab-link routerLink="/roster">Roster
    <mat-icon aria-label="Input">input</mat-icon>
  </a>
  <a mat-tab-link routerLink="/menu">Menu
    <mat-icon aria-label="Menu">restaurant_menu</mat-icon>
  </a>



</nav>
<router-outlet></router-outlet>