<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav> -->
<nav mat-tab-nav-bar>
  <div class="app-heading">
    <span>
      <img alt="angular" src="https://i.pinimg.com/originals/49/50/b2/4950b2ecfb89cf27eaea5877e18fcb02.jpg">
    </span> BAKASURA </div>

  <a mat-tab-link routerLink="/overall-data">Overall Data</a>
  <a mat-tab-link routerLink="/user-data">User Data</a>
  <a mat-tab-link routerLink="/roster">Roster</a>
  <a mat-tab-link routerLink="/menu">Menu</a>



</nav>
<router-outlet></router-outlet>