nav {
    background: #115590;
    margin-bottom: 20px;
}


nav a {
    color: white;
    text-decoration: none;
    min-width: 120px;
    opacity: 0.8;
}


::ng-deep .success-color.mat-snack-bar-container {
    background: #049616 !important;
}