<div id="calendar" class="cal-context" style="width: 100%;">

  <div class="cal-row-fluid cal-row-head">

    <div class="calendar-box-1">Sunday</div>

    <div class="calendar-box-1">Monday</div>

    <div class="calendar-box-1">Tuesday</div>

    <div class="calendar-box-1">Wednesday</div>

    <div class="calendar-box-1">Thursday</div>

    <div class="calendar-box-1">Friday</div>

    <div class="calendar-box-1">Saturday</div>

  </div>

  <div class="cal-month-box">
    <div class="cal-row-fluid cal-before-eventlist" *ngFor="let weekData of calendarData.weeks">
      <div class="calendar-box-1 calendar-box" *ngFor="let daysData of weekData.days; let dayIndex = index" [ngClass]="{'rostered': daysData.isRostered}">
        <div class="calendar-month-day" [ngStyle]="{'background-image':'url(' + daysData.backgroundImageUrl + ')', 'background-size': daysData.backgroundSize}"
          [ngClass]="{'calendar-box-weekend': dayIndex === 0 || dayIndex === 6, 'cal-day-outmonth': !daysData.isCurrentMonth, 'rostered': daysData.isRostered, 'image-embed': daysData.backgroundImageUrl}"
          (click)="onRoster($event, daysData)">
          <span class="pull-right" [attr.data-cal-date]="daysData.day" [attr.data-cal-view]="daysData.day" data-original-title="">{{daysData.day}}</span>

          <div class="events-list">
            <a class="pull-left event event-important" *ngIf="daysData.isWarning1" matTooltip="You ate without registering! kindly avoid this and help us plan better!"
              [matTooltipPosition]="'right'"></a>
            <a class="pull-left event event-warning" *ngIf="daysData.isWarning2" matTooltip="You dint show up! Help reducing wastage and save your money!"
              [matTooltipPosition]="'right'"></a>

            <mat-icon class="pull-left notification-icon" *ngIf="daysData.isSpecial" matTooltip="Special Lunch!!" [matTooltipPosition]="'right'">notifications_active</mat-icon>

          </div>

          <div class="ratings" *ngIf="daysData.rating" matTooltip="Your rating" [matTooltipPosition]="'below'">
            <mat-icon aria-label="Star Rating" *ngFor="let i of daysData.rating">star_rating</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>