<div id="calendar" class="cal-context" style="width: 100%;">

  <div class="cal-row-fluid cal-row-head">

    <div class="cal-cell1">Sunday</div>

    <div class="cal-cell1">Monday</div>

    <div class="cal-cell1">Tuesday</div>

    <div class="cal-cell1">Wednesday</div>

    <div class="cal-cell1">Thursday</div>

    <div class="cal-cell1">Friday</div>

    <div class="cal-cell1">Saturday</div>

  </div>

  <div class="cal-month-box">
    <div class="cal-row-fluid cal-before-eventlist" *ngFor="let weekData of calendarData.weeks">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1" *ngFor="let daysData of weekData.days; let dayIndex = index">
        <div class="cal-month-day cal-day-outmonth" [ngClass]="{'cal-day-weekend': dayIndex === 0 || dayIndex === 6, 'cal-day-disabled': daysData.isDisabled}">
          <span class="pull-right" [attr.data-cal-date]="daysData.day" [attr.data-cal-view]="daysData.day" data-toggle="tooltip" title=""
            data-original-title="">{{daysData.day}}</span>
        </div>
      </div>
    </div>
  </div>

</div>







<!-- 
<div id="calendar" class="cal-context" style="width: 100%;">

  <div class="cal-row-fluid cal-row-head">

    <div class="cal-cell1">Sunday</div>

    <div class="cal-cell1">Monday</div>

    <div class="cal-cell1">Tuesday</div>

    <div class="cal-cell1">Wednesday</div>

    <div class="cal-cell1">Thursday</div>

    <div class="cal-cell1">Friday</div>

    <div class="cal-cell1">Saturday</div>

  </div>
  <div class="cal-month-box">


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-outmonth cal-day-weekend cal-month-first-row">
          <span class="pull-right" data-cal-date="2017-11-26" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">26</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-outmonth cal-month-first-row">
          <span class="pull-right" data-cal-date="2017-11-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">27</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-outmonth cal-month-first-row">
          <span class="pull-right" data-cal-date="2017-11-26" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">28</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-outmonth cal-month-first-row">
          <span class="pull-right" data-cal-date="2017-11-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">29</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-outmonth cal-month-first-row">
          <span class="pull-right" data-cal-date="2017-11-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">30</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">1</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-02" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">2</span>

        </div>
      </div>
    </div>


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-03" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">3</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-04" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">4</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-05" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">5</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-06" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">6</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-07" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">7</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-08" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">8</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-09" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">9</span>

        </div>
      </div>
    </div>


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-10" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-11" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11</span>

          <div class="events-list" data-cal-start="1362940200000" data-cal-end="1363026600000">

            <a href="#" data-event-id="293" data-event-class="event-warning" class="pull-left event event-warning" data-toggle="tooltip"
              title="" data-original-title="This is warning class event with very long title to check how it fits to evet in day view"></a>

          </div>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-12" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-13" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13</span>
        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-14" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14</span>

          <div class="events-list" data-cal-start="1363199400000" data-cal-end="1363285800000">

            <a href="#" data-event-id="294" data-event-class="event-info" class="pull-left event event-info" data-toggle="tooltip" title=""
              data-original-title="This is information class "></a>

            <a href="#" data-event-id="256" data-event-class="event-warning" class="pull-left event event-warning" data-toggle="tooltip"
              title="" data-original-title="Event that ends on timeline"></a>

            <a href="#" data-event-id="548" data-event-class="event-special" class="pull-left event event-special" data-toggle="tooltip"
              title="" data-original-title="This is special event"></a>

            <a href="#" data-event-id="297" data-event-class="event-success" class="pull-left event event-success" data-toggle="tooltip"
              title="" data-original-title="This is success event"></a>

            <a href="#" data-event-id="276" data-event-class="event-success" class="pull-left event event-success" data-toggle="tooltip"
              title="" data-original-title="Short day event"></a>

          </div>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-15" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15</span>


        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-16" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16</span>

        </div>
      </div>
    </div>


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-17" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17</span>


        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-18" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18</span>



        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-19" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19</span>



        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-20" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-21" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-22" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">22</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-23" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">23</span>

        </div>
      </div>
    </div>


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">24</span>

          <div id="cal-week-box" data-cal-week="2017-12-24" style="display: none;">Week 13</div>
        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">25</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-26" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">26</span>



          <div id="cal-day-tick" style="display: none;">
            <i class="icon-chevron-down glyphicon glyphicon-chevron-down"></i>
          </div>
        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">27</span>



        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">28</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-inmonth">
          <span class="pull-right" data-cal-date="2017-12-29" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">29</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-30" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">30</span>

        </div>
      </div>
    </div>
    <div id="cal-slide-box" style="display: none;">
      <span id="cal-slide-tick" style="" class="tick-day3"></span>
      <div id="cal-slide-content" class="cal-event-list">
        <ul class="unstyled list-unstyled">

          <li>
            <span class="pull-left event event-important"></span>&nbsp;
            <a href="#" data-event-id="295" data-event-class="event-important" class="event-item">
              Event 3</a>
          </li>

        </ul>
      </div>
    </div>


    <div class="cal-row-fluid cal-before-eventlist">
      <div class="cal-cell1 cal-cell" data-cal-row="-day1">
        <div class="cal-month-day cal-day-inmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2017-12-31" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">31</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day2">
        <div class="cal-month-day cal-day-outmonth">
          <span class="pull-right" data-cal-date="2013-04-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">1</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day3">
        <div class="cal-month-day cal-day-outmonth">
          <span class="pull-right" data-cal-date="2013-04-02" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">2</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day4">
        <div class="cal-month-day cal-day-outmonth">
          <span class="pull-right" data-cal-date="2013-04-03" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">3</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day5">
        <div class="cal-month-day cal-day-outmonth">
          <span class="pull-right" data-cal-date="2013-04-04" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">4</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day6">
        <div class="cal-month-day cal-day-outmonth">
          <span class="pull-right" data-cal-date="2013-04-05" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">5</span>

        </div>
      </div>
      <div class="cal-cell1 cal-cell" data-cal-row="-day7">
        <div class="cal-month-day cal-day-outmonth cal-day-weekend">
          <span class="pull-right" data-cal-date="2013-04-06" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">6</span>

        </div>
      </div>
    </div>

  </div>
</div> -->