<div class="overall-data-div">

	<div class="col-md-12 score-headings">
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{employeesCount}}</span>
			<span class="col-md-12 big-text">Total Employees</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{registeredCount}}</span>
			<span class="col-md-12 big-text">Total Registered</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{swipedCount}}</span>
			<span class="col-md-12 big-text">Swiped</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{remainingCount}}</span>
			<span class="col-md-12 big-text">Remaining</span>
		</div>

	</div>

	<div class="bakasur-chart-div col-md-6 ratings-trend" id="ratingsTrendContainer"></div>

	<div class="bakasur-chart-div col-md-6 wastage-trend" id="wastageTrendContainer"></div>

	<div class="bakasur-chart-div col-md-12" id="usageTrendContainer"></div>

</div>