.overall-data-div {
    padding-top: 60px;
    background: white;
    float: left;
}

.bakasur-chart-div {
    margin: auto;
    padding: 10px 20px;
}

.score-headings {
    margin-bottom: 25px;
}

.big-no {
    font-size: 40px;
    color: #337ab7;
}

.big-text {
    font-size: 12px;
    letter-spacing: 1.2px;
}

.bakasur-chart-div.ratings-trend, .bakasur-chart-div.wastage-trend, .bakasur-chart-div.usage-trend, .bakasur-chart-div.heat-map {
    /* width: 42%;
    margin-left: 3%;
    margin-right: 3%; */
    margin-left: 6%;
    margin-top: 15px;
    width: 40%;
    height: 350px;
    border: 1px solid #CCC;
    border-radius: 15px;
}