<div class="overall-data-div">

	<div class="col-md-12 score-headings">
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{employeesCount}}</span>
			<span class="col-md-12 big-text">TOTAL EMPLOYEES</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{registeredCount}}</span>
			<span class="col-md-12 big-text">TOTAL REGISTERED</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{swipedCount}}</span>
			<span class="col-md-12 big-text">SWIPED</span>
		</div>
		<div class="col-md-3 text-center">
			<span class="col-md-12 big-no">{{remainingCount}}</span>
			<span class="col-md-12 big-text">REMAINING</span>
		</div>

	</div>

	<div class="bakasur-chart-div col-md-6 ratings-trend" id="ratingsTrendContainer"></div>

	<div class="bakasur-chart-div col-md-6 wastage-trend" id="wastageTrendContainer"></div>

	<div class="bakasur-chart-div col-md-12" id="usageTrendContainer"></div>

</div>