.overall-data-div {
    padding-top: 60px;
    background: white;
}

.bakasur-chart-div {
    margin: auto;
    padding: 10px 20px;
}

.score-headings {
    margin-bottom: 25px;
}

.big-no {
    font-size: 40px;
    color: #337ab7;
}

.big-text {
    font-size: 14px;
}

.bakasur-chart-div.ratings-trend, .bakasur-chart-div.wastage-trend  {
    /* width: 42%;
    margin-left: 3%;
    margin-right: 3%; */
    height: 350px;
}