<div class="overall-data-div">

	<div class="col-md-12 score-headings">
		<div class="col-md-4 text-center">
			<span class="col-md-12 big-no">580</span>
			<span class="col-md-12 big-text">Total Registered</span>
		</div>
		<div class="col-md-4 text-center">
			<span class="col-md-12 big-no">115</span>
			<span class="col-md-12 big-text">Swiped</span>
		</div>
		<div class="col-md-4 text-center">
			<span class="col-md-12 big-no">465</span>
			<span class="col-md-12 big-text">Remaining</span>
		</div>

	</div>

	<div class="bakasur-chart-div col-md-6 ratings-trend" id="ratingsTrendContainer"></div>

	<div class="bakasur-chart-div col-md-6 wastage-trend" id="wastageTrendContainer"></div>

	<div class="bakasur-chart-div col-md-12" id="usageTrendContainer"></div>

</div>